.button {
  padding : 15px 30px;
  border-radius: 10px;
  cursor : pointer;
  border: none;
  outline: none;
  font-weight: 700;
  background-color: var(--color-brown-2);
  color: var(--color-brown-4);
}

.primary.not-disabled {
  background-color: var(--color-brown-4);
  color: var(--color-brown-1);
  transition: all 200ms;

  &:hover {
    opacity: 70%;
    transform: scale(1.05);
  }
}

.secondary.not-disabled {
  background-color: var(--color-brown-2);
  color: var(--color-brown-4);
  transition: all 200ms;

  &:hover {
    opacity: 70%;
    transform: scale(1.05);
  }

}